<footer class="section-site-footer">
  <div class="site-footer">
    <div class="container">
      <div class="footer-menu-wrap">
        <ul
          id="menu-footer-menu"
          class="footer-menu nav navbar-nav navbar-center"
        >
          <li
            id="menu-item-2993"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2993"
          >
            <a href="#">Home</a>
          </li>
          <li
            id="menu-item-3290"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3290"
          >
            <a href="https://demo.tokopress.com/bookie/blog/">Blog</a>
          </li>
          <li
            id="menu-item-2995"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2995"
          >
            <a href="#">About Us</a>
          </li>
          <li
            id="menu-item-2996"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2996"
          >
            <a href="#">TOS</a>
          </li>
          <li
            id="menu-item-2997"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2997"
          >
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="footer-credit">
        <p>Copyright &copy; Bookie WordPress Theme</p>
      </div>
    </div>
  </div>
</footer>
