<header class="section-site-header">
  <div class="site-header">
    <div class="container">
      <div class="site-brand pull-left">
        <a class="navbar-brand" href="/">
          <div class="site-logo-text">Prices's Books</div>
          <p class="site-description">Where all Christians Books are sold</p>
        </a>
      </div>

      <div class="site-quicknav pull-right">
        <ul class="nav navbar-right">
          <li class="dropdown visible-xs visible-sm">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="collapse"
              data-target=".navbar-collapse-top"
            >
              <i class="fa fa-navicon"></i>
            </a>
          </li>

          <li class="dropdown header-minicart">
            <a
              href="#"
              class="dropdown-toggle cart-subtotal"
              data-toggle="dropdown"
              rel="nofollow"
            >
              <i class="fa fa-shopping-basket" aria-hidden="true"></i>
              <span class="badge amount">0</span>
            </a>
            <ul class="dropdown-menu topnav-minicart-dropdown cart-list">
              <li>
                <div class="widget woocommerce widget_shopping_cart">
                  <h2 class="widgettitle">Cart</h2>
                  <div class="widget_shopping_cart_content"></div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div
        class="site-menu navbar-inverse navbar-collapse collapse navbar-collapse-top"
      >
        <ul id="menu-header-menu" class="site-menu nav navbar-nav">
          <li
            id="menu-item-3174"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-has-children menu-item-3174 dropdown"
          >
            <a title="Home" href="/"
              >Home
              <!-- <span class="caret"></span -->
              <!-- > -->
            </a>
          </li>
          <li
            id="menu-item-3291"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3291"
          >
            <a title="Blog" href="">Books</a>
          </li>

          <li
            id="menu-item-3288"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3288"
          >
            <a title="My Account" href="">My Account</a>
          </li>
          <li
            id="menu-item-3297"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3297"
          >
            <a title="Contact" href="/">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
